body{
    background-color: black;
  }

  h1 {
    color: white;
    text-align: center;
  }

  p {
    color: white;
    text-align: center;
  }

  img {
    border: 5px solid white;
    height: 380;
    width: 100%;
  }

  div {
    margin-left: 25%;
    width: 50%;
  }